<div class="container">

  <div class="card">
    <div class="form-control">
      <input type="text" placeholder="Название" [(ngModel)]="todoTitle" (keyup.enter)="addTodo()">
    </div>
    <button class="btn" (click)="addTodo()" type="submit">Добавить</button>
    <button class="btn" (click)="fetchTodos()">Загрузить</button>
  </div>

  <p class="error" *ngIf="error; else todosBlock">{{error}}</p>

  <ng-template #todosBlock>
    <div *ngIf="!loading; else loadingBLock">
      <div *ngIf="todos?.length; else noTodos">
        <div class="card" *ngFor="let todo of todos">
          <p>
            <span [class.completed]="todo.completed">{{todo.title}}</span>
            <span>
              <button class="btn btn-danger" (click)="removeTodo(todo.id)">Удалить</button>
              <button class="btn" [disabled]='todo.completed' (click)="completeTodo(todo.id)">Завершить</button>
            </span>
          </p>
        </div>
      </div>
      <ng-template #noTodos>Нет элементов</ng-template>
    </div>

    <ng-template #loadingBLock>
      <p>Загрузка...</p>
    </ng-template>
  </ng-template>

</div>