<form class="card" [formGroup]='form'>
  <h2>Введите Email для восстановления пароля</h2>

  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    {{error}}
  </div>

  <div class="form-control" [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}">
    <label for="email">Email:</label>
    <input type="email" formControlName="email" #passwordResetEmail>

    <div class="validation" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
      <small *ngIf="form.get('email')?.errors?.required">Введите поле email</small>
      <small *ngIf="form.get('email')?.errors?.email">Поле email должно быть email</small>
    </div>
  </div>

  <input type="submit" class="btn btn-primary" value="Восстановить пароль" [disabled]='form.invalid'
    (click)="auth.sendPasswordResetEmail(passwordResetEmail.value)">
  <a [routerLink]="['/admin', 'login']">Вернуться к авторизации</a>
</form>